h1,h2,h3,p,td,quote,small,form,input,ul,li,ol,label{
    margin:0px;
    padding:0px;
}


.full-height {
    height: 100%;
    background: #1c1c00;
    /*#1c1c00*/
}

body{
    background: url(pics/pacman_eating.gif) no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

/* Form styles */

input,select{
    padding:3px;
    color:#333333;

    border:1px solid #96A6C5;
    margin-top:2px;
    width:200px;
    font-size:11px;
}

select{
    width:auto;
    padding:2px;
}

.formline{
    padding:3px;
}

label{
    font-size:11px;
    text-align:right;
}

table{
    width:300px;
}

td{
    font-size:11px;
}

.input-container{
    padding:1px;
}

#div-regForm,.registered{
    border:3px solid #eeeeee;
    padding:15px;

    background:url(img/bg.jpg) repeat-x #cbd4e4;
    color:#203360;

    margin:30px auto 40px auto;
    width:400px;
}
#div-logInForm,.registered{
    border:3px solid #eeeeee;
    padding:15px;

    background:url(img/bg.jpg) repeat-x #cbd4e4;
    color:#203360;

    margin:30px auto 40px auto;
    width:400px;
}
#div_configForm,.registered{
    border:3px solid #eeeeee;
    padding:15px;

    background:url(img/bg.jpg) repeat-x #cbd4e4;
    color:#203360;

    margin:30px auto 40px auto;
    width:400px;
}

.form-title,
.form-sub-title{
    font-size:20px;

    font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
    font-size:20px;
    font-weight:bold;
}

.form-sub-title{
    font-weight:normal;
    padding:6px 0 15px 0;
}

.greenButton{
    width:auto;
    margin:10px 0 0 2px;
    padding:3px 4px 3px 4px;
    color:white;
    background-color:#589d39;
    outline:none;
    border:1px solid #006600;
    font-weight:bold;
}

.greenButton:active{
    background-color:#006600;
    padding:4px 3px 2px 5px;
}

#loading{
    left:10px;
    position:relative;
    top:3px;
    visibility:hidden;
}

#loading_login{
    left:10px;
    position:relative;
    top:3px;
    visibility:hidden;
}

#loading_submit{
    left:10px;
    position:relative;
    top:3px;
    visibility:hidden;
}
#loading_submit{
    left:10px;
    position:relative;
    top:3px;
    visibility:hidden;
}
#randomValuesBtn{
    left:10px;
    position:relative;
    top:3px;
    visibility:hidden;
}

#error{
    background-color:#ffebe8;
    border:1px solid #dd3c10;
    padding:7px 3px;
    text-align:center;
    margin-top:10px;
    visibility:hidden;
}

#div-logInForm{
    display: none;
}

#div-regForm{
    display: none;
}
#welcome{
    display: block;
}
.welcome-btn {
    -moz-box-shadow: 3px 4px 0px 0px #899599;
    -webkit-box-shadow: 3px 4px 0px 0px #899599;
    box-shadow: 3px 4px 0px 0px #899599;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
    background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
}
.welcome-btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
    background-color:#bab1ba;
}
.welcome-btn:active {
    position:relative;
    top:1px;
}
#game{
    display: none;
}

#div_configForm{
    display: none;
}

#logOut{
    display: none;
}

#logOut{
    display: none;
}


.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
    height: 100%;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

#user-details {
    font-size: 30px;
    border-bottom: 2px solid #888;
    margin-bottom: 20px;
    display: none;
    color: white;
}
#user-details:first-letter {
    font-size: 300%;
}
.newGameButton{
    color: #fffdfc;
    background-color: #3e8e41;
    position:absolute;
    top:30%;
    left:10%;
    width:10%;
    height:5%;
}
.gameTimer{
    color: #fffdfc;
    position:absolute;
    top:30.5%;
    left:75%;
}
.canvass{
    position:absolute;
    top:29.5%;
    left:30%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:5%;
    background-color: black;
    color: white;
    text-align: center;
}


